--- 
--- 
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Kanit|Merriweather|Source+Code+Pro:400,600');

// BELOW ARE CUSTOM CSS DESCRIPTIONS, (overriding theme defaults)

body {
    font-family: 'Kanit', sans-serif;
}

.wrapper {
    width: 970px;
    margin: 0;
}

section {
    width: 650px;
    float: right;
    padding-bottom: 50px;
}

header,
footer {
    width: 280px;
}

.highlighter-rouge {
    font-weight: bold;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 24px;
}

#sidebar-description {
    text-align: justify;
}

p {
    text-align: justify;
    font-size: 18px;
    font-family: 'Charter ITC', 'Metropolis';
    color: rgba(0,0,0,.84);
}

#post-links {
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px; 
}

#page-title {
    font-size: 45px;
}

#maintain {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}

#ride-logos {
    padding-top: 30px;
}

em {
    font-size: 21px;
    color: rgba(0,0,0,.88);
}

hr {
    color: rgba(0,0,0,.68);
}

li {
    font-size: 18px;
    font-family: 'Charter ITC', 'Metropolis';
    color: rgba(0,0,0,.84);
}

img[alt=service_weather_table] { 
    width: 512px;
    height: 416px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt=visuals] { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 512px
}


.fa-lyft,
.fa-uber {
    font-weight: normal;
}

// This block and the next align the logos
.fa-taxi {
    color: rgb(255, 210, 83);
}

.fa-lyft {
    color: rgb(255, 20, 187);
    margin-left: 14px;
}

.fa-uber {
    color: rgb(0, 0, 0);
    margin-left: 14px;
}

.fa-bicycle {
    color: rgb(0, 200, 252);
    margin-left: 14px;
}

header ul {
    all: initial;
    * {
        all: unset;
    }
}

header li {
    all: initial;
    * {
        all: unset;
    }
}

@media print,
screen and (max-width: 1000px) {

    div.wrapper {
        width: auto;
        margin: 0;
    }

    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    #ride-logos {
        padding-top: 10px;
    }

    header {
        padding-right: 320px;
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header a small {
        display: inline;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    #ride-logos {
        padding-top: 10px;
    }

    header {
        padding: 0;
    }

    header ul,
    header p.view {
        position: static;
    }

    pre,
    code {
        word-wrap: normal;
    }
}

@media print,
screen and (max-width: 480px) {
    body {
        padding: 15px;
        width: 85%;
    }

    #ride-logos {
        padding-top: 10px;
    }

    .downloads {
        width: 99%;
    }

    .downloads li,
    .downloads li+li+li {
        width: 33%;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis_bold.otf");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis_bold_italic.otf");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis_medium.otf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis_medium_italic.otf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Charter ITC";
    src: url("../fonts/charter_itc_medium.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Charter ITC";
    src: url("../fonts/charter_itc_medium_italic.ttf");
    font-weight: normal;
    font-style: italic;
  }