<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/web_media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/web_media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/web_media/favicon-16x16.png">
    <link rel="manifest" href="assets/web_media/site.webmanifest">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title>Ride Services in NYC</title>
</head>

<body>
    <div class="wrapper">
        <header>

            <h1 id="page-title">
                <a href="{{ "/" | absolute_url }}">
                    {{ site.title | default: site.github.repository_name }}
                </a>
            </h1>

            <h1 id="ride-logos">
                <i class="fas fa-taxi fa-lg"></i>
                <i class="fab fa-lyft fa-lg"></i>
                <i class="fab fa-uber fa-lg"></i>
                <i class="fas fa-bicycle fa-lg"></i>
            </h1>

            {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}

            <p id="sidebar-description">{{ site.description | default: site.github.project_tagline }}</p>

        </header>
        <section>

            {{ content }}

        </section>
        <footer>

            <h2> CS1951A Blog</h2>
            <p id="post-links">
                <a href="#blog-post-2">Blog Post 2</a></br>
                <a href="#midterm-report">Midterm Report</a></br>
                <a href="#blog-post-1">Blog Post 1</a></br>
                <a href="#hello-world">Hello World</a></br>
            </p>

            <p id="maintain"> Maintained by <a href="https://github.com/andydonzelli">Andy</a>, <a
                    href="https://github.com/mattsliv">Matt</a>, <a href="https://github.com/tmoopenn">Troy</a> and <a
                    href="https://github.com/shash678">Shash</a></p>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>